$text-color: white;
$border-color: white;
$button-background-color: white;
$button-border-color: #11357e;
$button-text-color: #11357e;
$button-active-text-color: white;
$button-active-border-color: white;
$button-active-background-color: #11357e;
$button-hover-background-color: #ddd;
$button-hover-border-color: #1e4aa1;
$button-hover-text-color: #1e4aa1;
$background-dark-gradient: #062a73;
$background-light-gradient: #348fc7;